# For sake of your convenience
# There is no need to create .env file as this will be loaded automatically and
# it'll be overwritten by .env file if it exists

NODE_ENV=development

# Database
DATABASE_USERNAME=deskbird
DATABASE_PASSWORD=deskbird
DATABASE_HOST=deskbird-postgres
DATABASE_NAME=deskbird
DATABASE_PORT=5432

# Server
SERVER_PORT=3000