# For sake of your convenience
# There is no need to create .env file as this will be loaded automatically and
# it'll be overwritten by .env file if it exists

NODE_ENV=testing

# Database
DATABASE_USERNAME=test-deskbird
DATABASE_PASSWORD=test-deskbird
DATABASE_HOST=test-deskbird-postgres
DATABASE_NAME=test-deskbird
DATABASE_PORT=5433

# Server
SERVER_PORT=3001
